@media (max-width: 800px) {
    #info {
        width: 300px;
    }

    #inner-task {
        width: 300px;
        flex-direction: column;
        justify-content: center;
    }

    #inner-task #task-name {
        width: 200px;
    }

    .task-list {
        width: 300px;
    }

    .task {
        width: 300px;
    }
}
    